$colorWhite: #ffffff;
$colorBlack: #4A4A4A;
$colorGreen: #67B114;
$colorGrey: #606060;
$colorWhiteGrey: #F6F6F6;
$colorCST: #FCB000;
$colorCVD: #F56F02;
$colorCSCF: #D32022;
$colorDDC: #A5027D;
$colorCSF:  #573A9B;
$colorTopMenu: #767676;
$colorHoverTopMenu: #cccccc;